@model IEnumerable<Web_proekt.Models.Model>

@{
    ViewData["Title"] = "All";
}

<h1>All</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                открыть
            </th>
            <th>
                удалить
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (Model item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                <a asp-action="ResultData" asp-controller="Home" asp-route-id="@item.id">Посмотерть</a>
            </td>
                        <td>
                <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.id">удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>






